# top-most EditorConfig file
root = true

# All files
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# JS, TS, JSX, TSX, CSS, JSON files
[*.{js,ts,jsx,tsx,css,json}]
indent_style = space
indent_size = 2
quote_type = single
semi = false

# Markdown files
[*.md]
trim_trailing_whitespace = false